<div id="previewImage">
  <p *ngIf="description">
    I LIKE TO TAKE PICTURES OF THINGS.
    I LIKE TO TAKE PICTURES OF THINGS.
    I LIKE TO TAKE PICTURES OF THINGS.
    I LIKE TO TAKE PICTURES OF THINGS.
    I LIKE TO TAKE PICTURES OF THINGS.
    I LIKE TO TAKE PICTURES OF THINGS.
    THIS IS A TEST
    <!--I LIKE TO TAKE PICTURES OF THINGS.-->
    <!--I LIKE TO TAKE PICTURES OF THINGS.-->
    <!--I LIKE TO TAKE PICTURES OF THINGS.-->
    <!--I LIKE TO TAKE PICTURES OF THINGS.-->
    <!--I LIKE TO TAKE PICTURES OF THINGS.-->
    <!--I LIKE TO TAKE PICTURES OF THINGS.-->
    <!--I LIKE TO TAKE PICTURES OF THINGS.-->
    <!--I LIKE TO TAKE PICTURES OF THINGS.-->
    <!--I LIKE TO TAKE PICTURES OF THINGS.-->
  </p>
</div>

<angular-tag-cloud
  id="navCloud"
  (mousemove)="onHover($event)"
  (clicked)="onClick($event)"
  [data]="galleries"
  [zoomOnHover]="zoomOnHoverOptions"
  [width]="options.width"
  [height]="options.height"
  [overflow]="options.overflow"
>
</angular-tag-cloud>

<div  id="navMobile">
  <div *ngFor="let gallery of galleries" (click)="onClick(gallery)" class="navItem">{{gallery.text}} </div>
</div>

<!-- HIDDEN IMAGE PRE LOADER -->
<div *ngFor="let gallery of galleries">
  <div *ngFor="let image of imageProviderService.previewImages[gallery.text]">
    <img src={{image.url}} style="display:none;" />
  </div>
</div>


