
#accent{
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  left: 100px;
  top: 50px;
}


@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}



